html {
    background-color: #202124;
    color: white;
    font-family: monospace;
    font-size: 16px;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

details > summary {
    list-style: none;
}
details > summary::marker {
    display: none;
}

a,
details summary {
    margin: auto;
    text-align: center;
    max-width: 90%;
    color: #10ff4c;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}

a:hover,
details:hover summary,
details[open] summary {
    opacity: 1;
}

details summary i {
    text-align: left;
}

details[open] summary i {
    display: none;
}

ul {
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;;
}

.main-title {
    text-align: center;
    font-size: 3rem;
}

.chapters {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.chapter {
    flex: 1;
    padding: 1rem 2rem;
    cursor: pointer;
}

.lessons {
    text-align: center;
    list-style-type: none;
    padding: 1rem 0 0;
}

.lessons li {
    padding: 5px 0;
}

.lesson-title {
    text-align: center;
    font-size: 3rem;
}

.lesson-description {
    text-align: center;
}

#task-content {
    text-align: left;
    padding-right: 20px;
    width: 80%;
    height: 100%;
    margin: 20px 0;
    overflow-y: auto;
}

#task-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

#task-content::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

#task-content::-webkit-scrollbar-thumb {
    background-image: linear-gradient(0deg, rgba(63, 186, 132, 1) 0%, rgba(38, 50, 56, 1) 100%);
}