html {
    background-color: #202124;
    color: white;
    font-family: monospace;
    font-size: 16px;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

a {
    color: #10ff4c;
}

ul {
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;;
}

.chapter {
    cursor: pointer;
}

.lessons {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.lessons li {
    padding: 5px 0;
}

.lesson-title {
    text-align: center;
}

.lesson-description {
    text-align: center;
}

#task-content {
    text-align: left;
    padding-right: 20px;
    width: 80%;
    height: 100%;
    margin: 20px 0;
    overflow-y: auto;
}

#task-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

#task-content::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

#task-content::-webkit-scrollbar-thumb {
    background-image: linear-gradient(0deg, rgba(63, 186, 132, 1) 0%, rgba(38, 50, 56, 1) 100%);
}